pre {
    position: relative;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;

    font-family: 'Consolas', 'Monaco', 'Menlo', 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.6;

    background-color: #f5f5f5;
    border: 1px solid #eee;
}


pre code {
    display: block;
    color: #333;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

pre.no-select code {
    user-select: none;
    -webkit-user-select: none;
}

blockquote {
    border-left: 4px solid #8ec7fc;
    padding: 0.1rem 1.5rem;
    background: #f0f8fb;
    border-radius: 0 6px 6px 0;
    color: #333;
}
